header.header   
    .container 
        .row.align-items-center 
            .col-2
                .inner-logo 
                    a(href="/")
                        img(src="/image/logo.jpg", alt="logo") 
            .col-5  
                .box-search 
                    form(action="/search/result" method="GET")
                        div(class="form-group d-flex mb-0")
                            input(type="text" placeholder="Nhap tu khoa" class="form-control" name="keyword" value=keyword)
                            button(type="submit" class="btn btn-primary") Tìm
                    .inner-suggest
                        .inner-list

            .col-5
                .inner-menu 
                    ul 
                        li 
                            a(href="/") <i class="fa-solid fa-house"></i> Trang Chủ 
                        li 
                            a(href="/topics") <i class="fa-solid fa-music"></i> Chủ Đề 
                        li
                            a(href="/favorite-songs")   <i class="fa-solid fa-heart"></i> Yêu Thích 