.header{
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header .container-fluid{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1140px;
}

.header .inner-logo a{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.header .inner-logo:hover a{
    background: #6bf958;
    color: #202020;
    padding: 7px;
    display: inline;
    border-radius: 10px;
    transition: 0.5s;
}

/* End Header */

.body .sider{
    width: 150px;
    background:#202020;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left : 0
}
 
.body .main{
    position: relative;
    margin: 15px;
    left: 150px;
    width: calc(100% - 180px);
}

.body .main table{
    width: auto;
    border-collapse: collapse;
    table-layout: auto;
}
.body .main table td, th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* End body */
.sider .inner-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sider .inner-menu ul li a{
    color: #fff;
    border-bottom: 1px solid #515151;
    display: block;
    padding: 6px 10px;
}

.table{
    border: 1px solid #000000;
}

/* Show alert*/
[show-alert]{
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}
[show-alert].alert-hidden{
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes alert-hidden {
    from{
        right: 15px;
    }
    to{
        right: -100%;
        display: none;
    }
}
[show-alert] [close-alert]{
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

/* Button x img*/
.mb-2000 .mb-2001{
    display: flex;
}
.mb-2000 .mb-2002{
    display: none;
}

.mb-2000 .mb-2003{
    display: block;
}
.image-preview{
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}
.image-preview[src=""]{
    display: none;
}
/* end */